{% extends '::base.html.twig' %}

{% block body %}

{% if exception is defined %}
<h2>Authentication Error</h2>
<hr />

<div class="alert alert-danger">
    {{ exception.message }}
</div>
{% endif %}

<h2>Select a source to import projects from</h2>
<hr />

<div id="providers">
{% for provider in providers %}
    <div class="provider">
        <a href="{{ path('app_core_import_provider', { providerName: provider }) }}"><img src="/images/providers/{{ provider }}.png" alt="{{ provider }}" /></a>
    </div>
{% endfor %}
</div>

{% endblock %}