{% extends '::base.html.twig' %}

{% block body %}

<h2>Configure provider {{ provider }}</h2>
<hr />

{{ form_start(form) }}

{{ form_rest(form) }}

<div class="form-actions">
    <button class="btn btn-primary">Save configuration</button>
</div>

{{ form_end(form) }}

{% endblock %}
